RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
RewriteRule ^about/ about.php [NC,L]
RewriteRule ^blog/ blogs.php [NC,L]
RewriteRule ^category/ category.php [NC,L]
RewriteRule ^contact/ contact.php [NC,L]
RewriteRule ^home/ index.php [NC,L]
RewriteRule ^privacy/ privacy.php [NC,L]
RewriteRule ^search/ search.php [NC,L]
RewriteRule ^stores/ stores.php [NC,L]
RewriteRule ^terms/ terms.php [NC,L]
RewriteRule ^weekly-ads/ weekly-ads.php [NC,L]
RewriteRule ^target-blog/ target-blog.php [NC,L]
RewriteRule ^travel-ideas/ travel-ideas.php [NC,L]
RewriteRule ^chickenwings-blog/ chickenwings-blog [NC,L]
RewriteRule ^tvshows-blog/ tvshows-blog.php [NC,L]
RewriteRule ^movie-blog/ movie-blog.php [NC,L]
RewriteRule ^art-blog/ art-blog.php [NC,L]
RewriteRule ^bike-blog/ bike-blog.php [NC,L]
RewriteRule ^maskGuide-blog/ maskGuide-blog.php [NC,L]
RewriteRule ^summer-blog/ summer-blog.php [NC,L]
RewriteRule ^storename/([a-zA-Z\s_-]+) store.php?storename=$1
RewriteRule ^categoryname/([0-9a-zA-Z\s_-]+) categories.php?categoryname=$1